<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0 mx-auto">
    <div class="col-md-4">
      <img src="https://picsum.photos/id/684/600/400" class="img-fluid rounded-start" alt="{{nombre}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{nombre}}</h5>
        <p class="card-text">{{descripcion}}</p>
        <p class="card-text">Precio: {{precio}}</p>
        <p class="card-text">Stock: {{stock}}</p>
      </div>
    </div>
  </div>
</div>